# Project exclude paths
/consumer/target/
/eurekaserver/target/
/eurekclient/target/
/feign/target/
/nativeconfigclient/target/
/nativeconfigserver/target/
/resttemplate/target/
/ribbon/target/
/zuul/target/